@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui" {
  themes: betterlight --default, betterdark --prefersdark;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

@plugin "daisyui/theme" {
  name: "betterlight";
  default: false;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.016 73.684);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(62% 0.265 303.9);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: oklch(71% 0.202 349.761);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "betterdark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(14% 0.005 285.823);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(62% 0.265 303.9);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(71% 0.202 349.761);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --font-roboto: "Roboto", sans-serif;
}

@layer components {
  .style1-a4-page {
    @apply h-[1122px] w-[794px] bg-[#E4E4E4] pb-80 font-roboto text-black overflow-hidden relative;
  }
  .style1-section {
    @apply m-[10px] p-[10px];
  }
  .style1-cvTitle {
    @apply font-roboto text-[35px] font-bold;
  }
  .style1-image {
    @apply h-[129px] w-[99px] object-cover mr-[0px];
  }
  .style1-imageIcon {
    @apply ml-[100px] w-[16px] h-[16px];
  }
  .style1-personalData {
    @apply font-roboto text-[14px] font-normal;
  }
  .style1-personalInfo {
    @apply font-roboto text-[16px] font-bold text-black flex flex-row;
  }
  .style1-info {
    @apply font-roboto text-[16px] font-bold text-black ml-[30px] mb-[15px] mt-[15px] flex flex-row;
  }
  .style1-personalDataSection {
    @apply border border-black p-[10px] flex flex-row;
  }
  .style1-otherDataSection {
    @apply mt-[10px] font-roboto text-[14px] font-normal;
  }
  .style1-clause {
    @apply absolute left-30 right-30 bottom-30 font-roboto text-[12px] font-normal italic text-gray-500;
  }
  .style1-skillSection {
    @apply flex flex-row flex-wrap justify-center gap-[8px] ml-[50px] mr-[50px];
  }
  .style1-skillText {
    @apply m-[5px] text-center;
  }
  .style1-hobbySection {
    @apply flex flex-row flex-wrap justify-center gap-[8px] ml-[50px] mr-[50px];
  }
  .style1-hobbyText {
    @apply m-[5px] text-center;
  }

  .style2-a4-page {
    @apply h-[1122px] w-[794px] bg-[#337EF5] pb-80 font-roboto text-black overflow-hidden relative;
  }

  .style3-a4-page {
    @apply h-[1122px] w-[794px] bg-[#E7F283] pb-80 font-roboto text-black overflow-hidden relative;
  }

  .style4-a4-page {
    @apply h-[1122px] w-[794px] bg-[#F246EA] pb-80 font-roboto text-black overflow-hidden relative;
  }
}
